* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(32, 54, 102);
  color: #e8e6e3;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  background-color: #181a1b;
  border-radius: 10px;
  border-bottom: 1px solid #131516;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 35%;
  min-width: 450px;
  max-width: 100%;
}

.header {
  background-color: #1d1f20;
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form #submit-btn {
  background-color: #e8e6e3;
  border: 2px solid #e8e6e3;
  border-radius: 5px;
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
  padding-bottom: 30px;
  position: relative;
}

.form-group label {
  display: inline-block;
  margin-bottom: 10px;
}

.form-group input {
  border: 3px solid #212425;
  border-radius: 7px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}
